<div class="bg_wrapper">
  <div class="welcome_wrapper">
    <div class="welcome_content">
      <%= image_tag "sangria_welcome_image.jpg", size: "200x200", alt: "Edit Entry" %>
      <div class="welcome_text">
        <span class="welcome_title">WELCOME</span>
        <p>
           Peruse our selection of red, white or blended sangria recipe libraries or are you looking for some excitement? 
           In that case, checkout the best rated sangria bars in the city. 
           If you're feeling lucky you could spin the recipe roulette and learn how to make it yourself with a do-it-yourself video. 
        </p>
      </div>
    </div>
  </div>
  <div class="create_recipe_wrapper">
    <div class="create_recipe">
      <%= link_to "Create A Recipe", new_recipe_path(@recipe) %>
    </div>
  </div>
  <div class="top_full_wrapper">
    <ul class="featured_recipes">
        <li class="featured_recipe_left">
          <a><%= link_to image_tag("red_sangria_trans_bg.png", size: "200x200", alt: "Edit Entry"), recipes_path(:flavor=>"Red Wine") %></a></li>
          
        <li class="featured_recipe_middle">
          <a><%= link_to image_tag("white_sangria_trans_bg.png", size: "200x200", alt: "Edit Entry"), recipes_path(:flavor=>"White Wine") %></a></li>
        
        <li class="featured_recipe_right">
          <a><%= link_to image_tag("blue_sangria_trans_bg.png", size: "200x200", alt: "Edit Entry"), recipes_path(:flavor=>"Other") %></a></li>
    </ul>
  </div>

  <div class="bottom_full_wrapper">
    <div class="bottom_content">
      <div class="top_bars"> 
        <div class="yelp_title">Top Sangria Bars in NYC!</div>
        <div class="yelp_logo"><%= image_tag "yelp-logo.png", alt: "Edit Entry" %></div>
        <ol class="yelp_businesses">
          <% @yelp_response.businesses.each do | business | %>
            <li class="businesses_container">
              <a href=<%= business.url %>>
                <span class="business_container_link"></span>
              <%= business.name %><br>
              <%= image_tag(business.rating_img_url_small) %><br>
              <%= business.location.neighborhoods != nil ? business.location.neighborhoods.first : "" %>
              </a>
            </li>
          <% end %>
        </ol>
      </div>
      <div class="recipe_roulette">
          <ul>
            <% if Recipe.ids.length != 0 
              recipe = Recipe.find(Recipe.ids.sample) 
            end %>
            <%= if Recipe.ids.length != 0 
              link_to recipe_path(recipe.id) do %> 
                <%= image_tag "recipe_roulette_color.png" %>
              <% end %>
            <% end %>
          </ul>
          </ul>
      </div>
      <div class="youtube_video"> 
      <iframe 
      width="400" 
      height="200" 
      src="https://www.youtube.com/embed/M7qjo30yJYQ" 
      frameborder="0" allowfullscreen>
      </iframe>
    </div>
    </div>
    <div class="twitter-timeline">
      <ol>
        <%# @twitter_response.each do |tweet| %>
          <li>
            <%#= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}"%>
            <%#= image_tag(tweet.media[0]["media_url"]) if(tweet.media.present?) %> <br><br>
          </li>
        <%# end %>
      </ol>
    </div>
  </div>
</div>