<div class="contact_wrapper">
  <div class="contact_form">
    <div class="contact_title">Contact Me</div>
    <%= bootstrap_form_for @message, url: contact_path do |f| %>
      <%= f.text_field :name, autofocus: true, placeholder: "Required"%>
      <%= f.email_field :email, placeholder: "Required"%>
      <div id="contactAddFields" style="display:none";>
        <%= f.text_field :mobile, placeholder: "How can I reach you?"%>
        <%= f.text_field :subject, placeholder: "What is this about?"%>
      </div>
      <%= f.text_area :content, label: 'Message', size: "25x3", placeholder: "Required"%>

      <a id="addFields" onclick="showAddFields()">Show Additional Fields</a>

      <br>
      <%= f.submit "Send", :class => "btn btn-default"%>
    <% end %>
  </div>
</div>
<script>
  function showAddFields(){
        document.getElementById('contactAddFields').style.display = 'inline';
        document.getElementById('addFields').style.display = 'none';
  };
  // $(document).ready(function(){
  //   $('#characterLeft').text('140 characters left');
  //   $('#message').keydown(function () {
  //       var max = 140;
  //       var len = $(this).val().length;
  //       if (len >= max) {
  //           $('#characterLeft').text('You have reached the limit');
  //           $('#characterLeft').addClass('red');
  //           $('#btnSubmit').addClass('disabled');
  //       }
  //       else {
  //           var ch = max - len;
  //           $('#characterLeft').text(ch + ' characters left');
  //           $('#btnSubmit').removeClass('disabled');
  //           $('#characterLeft').removeClass('red');
  //       }
  //   });
  // });
</script>
