<li>
  <%= comment.body %> -
  <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>

  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_field :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
      <% end %>

  <ul>
      <li><%= render partial: 'comments/comment', collection: comment.comments %></li>
      <%# if comment.user == current_user %>
      <%= comment.inspect %>
        <li>
          <%= link_to 'Delete Comment',
           recipe_comment_url(@recipe, comment),
           method: :delete,
           data: { confirm: 'Are you sure?' } %>
        </li>
      <%# end %>
  </ul>

</li>
