<p>
  <strong>Comment by:</strong>
  <%= User.find_by(comment.user_id).user_name %>
</p>
<small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
<p>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Delete', [comment.recipe, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
   <a href="#" id="xeditable">
     <%= "Update" %>
   </a>
</p>
<script>
$(document).ready(function() {
  $("#xeditable").editable({
    mode: 'inline',
    showbuttons: false,
    type: 'text',
    url: '/put',
    pk: 'comment.id',
    name: 'Edit',
    ajaxOptions: {
      type: 'put'
      }
  })
})
</script>
