<div class="recipe_form_wrapper">
  <div class="recipe_form_content">
    <%= form_for(@recipe) do |f| %>
      <%= f.label :name, 'Recipe Name:' %>
      <%= f.text_field :name %><br>
      
      <%= f.label :instructions, 'Instructions:' %><br>
      <%= f.text_area :instructions, size: "50x12" %><br>
      
      <%= f.label :servings, 'Servings:' %>
      <%= f.select :servings, ['2', '3', '4', '5', '6', '7', '8', '9', '10']%><br>
      
      <%= f.label :recipe_image, 'Recipe Image:' %><br>
      <%= f.file_field :recipe_image %><br>
      
      <%= f.submit %>
        
    <% end %>
  </div>
</div>