<div class="recipe_form_wrapper">
  <div class="recipe_form_content">
    <div class="create_recipe_title">Create New Recipe</div>
    <%= bootstrap_form_for(@recipe) do |f| %>
      <%= f.text_field :name, autofocus: true, placeholder: "What's the name of your recipe?"%>
      <%#= f.text_area :ingredients, size: "25x3", placeholder: "What's in it?"%>
      <%= f.text_area :instructions, size: "25x3", placeholder: "How do you make it?"%>
      <%= f.select :servings, (2..10).to_a, placeholder: "How many people does it serve?"%>
      <%= f.select :flavor, ['Red Wine','White Wine','Exotic'], placeholder: "What is it made with?"%>
      <%= f.hidden_field :avg_rating, value: 0 %>
      <%= f.file_field :recipe_image, placeholder: "Recipe Image"%>
      <%= f.submit "Create", :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
