<div class="recipe_form_wrapper">
  <div class="recipe_form_content">
    <%= bootstrap_form_for(@recipe) do |f| %>
      <%= f.text_field :name, autofocus: true, placeholder: "What's the name of your recipe?"%>
      <%= f.text_area :description, size: "25x2", placeholder: "What makes it special?"%>
      <%= f.text_area :instructions, size: "25x3", placeholder: "How do you make it?"%>
      <%= f.nested_fields_for :ingredients do |ingredient_field| %>
        <%= ingredient_field.remove_nested_fields_link do
            !!@counter && (@counter <= 0) ? @counter += 1 : ("Remove Ingredient")
        end %>
        <%= ingredient_field.hidden_field :recipe_id, :value => @recipe.id%>
        <%= ingredient_field.select :category,[ [ "Wine", "wine" ], [ "Liqour", "liqour" ], [ "Garnish", "garnish" ], [ "Other", "other"] ], label: "Ingredient Category"%>
        <%= ingredient_field.text_field :name, label: "Ingredient Name"%>
        <%= ingredient_field.number_field :quantity %>
      <% end %>
      <%= f.add_nested_fields_link :ingredients, 'Add another ingredient', class: 'btn btn-primary', role: 'button'%>
      <%= f.select :servings, ["2-6", "6-12", "12+"], placeholder: "How many people does it serve?"%>

      <%= f.select :flavor, [ [ "Red Wine", "red" ], [ "White Wine", "white" ], [ "Exotic", "exotic" ] ], placeholder: "What is it made with?"%>
      <%= f.hidden_field :avg_rating%>
      <%= f.file_field :recipe_image, placeholder: "Recipe Image"%>
      <%= f.submit :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
