<div class="recipe_index_wrapper">
    <span class="recipe_index_title">Recipe List</span><br>
    <%= will_paginate %>
    <div class="recipe_index_content">
        <% @recipes.each do |recipe| %>
            <ul class="recipe_list">
                <%= link_to recipe_path(recipe.id) do %>
                <li><%= image_tag recipe.recipe_image.url %></li>
                <li><span class="index_name"><%= recipe.name %></span></li>
                <li><span class="index_author"><%= recipe.author %></span></li>
                <% end %>
                </a>
            </ul>
        <% end %>
    </div>
    <%= will_paginate %>
</div>