<div class="recipe_index_wrapper">
    <div class="recipe_index_content">
      <% if !@flavor %>
        <span class="recipe_index_title"><%= @title %></span><br>
      <% end %>
      <%= form_for_filterrific @filterrific do |f| %>
        <div>
          Sort by
          <br>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        </div>
        <div>
          Filter by
          <br>
          <%= f.select(:with_flavor_wine, @filterrific.select_options[:with_flavor_wine], { include_blank: '- Any -' }
          ) %>
        </div>
        <div>
          Search by recipe name
          <br>
          <%= f.text_field(:search_query, class: 'filterrific-periodically-observed'
          ) %>
        </div>
        <div>
          <%= link_to(
            'Reset filters',
            reset_filterrific_url,
          ) %>
        </div>

        <%# add an automated spinner to your form when the list is refreshed %>
        <%= render_filterrific_spinner %>
      <% end %>

      <%= render(
        partial: 'recipes/list',
        locals: { recipes: @recipes }
      ) %>

</div>
