<div class="recipe_index_wrapper">
    <div class="recipe_index_content">

      <% if !@flavor %>
        <span class="recipe_index_title"><%= @title %></span><br>
      <% end %>

      <%= form_for_filterrific @filterrific do |f| %>

        <div>Sort by </div> <br> <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        <div>Filter by </div> <br> <%= f.select(:with_flavor_wine, @filterrific.select_options[:with_flavor_wine], { include_blank: '- Any -' }) %>

        <div id="name_search">
          <div>Recipe name </div>
          <%= f.text_field(:search_query, class: 'filterrific-periodically-observed') %>
          <button onclick='toggleSearchTo("ingredients", event)'>Search by ingredient name instead</button>
        </div>

        <div style="display:none;" id="ingredient_search">
          <div>Ingredient name </div>
          <%= f.text_field(:search_query_ingredients, class: 'filterrific-periodically-observed') %>
          <button onclick='toggleSearchTo("name", event)'>Search by recipe name instead</button>
        </div>

        <div><%= link_to('Reset filters', reset_filterrific_url) %></div>

        <%= render_filterrific_spinner %>

      <% end %>

      <%= render(partial: 'recipes/list', locals: {recipes: @recipes}) %>

</div>

<script>
  var search_details = [
    {
      switchTo: "ingredients",
      show_field: "ingredient_search",
      hide_field: "name_search"
    },
    {
      switchTo: "name",
      show_field: "name_search",
      hide_field: "ingredient_search"
    }
  ]
  function toggleSearchTo(showElement, e) {
    e.preventDefault();
    for (var i=0;i<search_details.length;i++) {
      if (showElement == search_details[i].switchTo) {
        document.getElementById(search_details[i].show_field).style.display = 'block';
        $('.filterrific-periodically-observed').val(function() { return this.defaultValue; });
        document.getElementById(search_details[i].hide_field).style.display = 'none';
      }
    }
  }
</script>
