<div class="article_container">
    <!--Everything for article goes here-->
    <div class="article_title"><%= @recipe.name %></div>
        <div class="article_author_date">
            <a href="#">
                <img src="http://www.placehold.it/35x35" />
                <span class="article_author_name">Geoff Graham</span>
            </a>
            <span class="date_slashes"> // </span>
            <span class="article_publish_date"> 
                <%= @recipe.created_at.strftime("%B %e, %Y") %>
            </span>
        </div>
    <div class="article_body">
        <%= image_tag(@recipe.recipe_image, width: "300") %>
        <h3>Ingredients</h3>
        <ul>
            <li>One 750-milliliter bottle fruity red wine, such as Merlot</li>
            <li>4 ounces brandy</li>
            <li>3 ounces Simple Syrup</li>
            <li>1 cup mixed chunks of seeded oranges, lemons and limes</li>
            <li>Ice</li>
        </ul>
        <h3>Servings: <%= @recipe.servings %></h3>
        <h3>Instructions:</h3>
        <%= simple_format @recipe.instructions %>
    </div>
</div>
<div class="side_bar">
    <div class="job_board">
        <h3>>_ job board</h3>
        
        <div class="job_listing">
            <p>
                <a href="#"><strong>Shopify</strong></a>
                is hiring a Senior Front End Developer
            </p>
        </div>
        <div class="job_listing">
            <p>
                <a href="#"><strong>(mt) Media Temple</strong></a>
                is hiring a Senior Front End Developer
            </p>
        </div>
        <div class="job_listing">
            <p>
                <a href="#"><strong>Billy Graham Evangelistic Association</strong></a>
                is hiring a Front End Developer
            </p>
        </div>
        <div class="btn">See More Jobs</div>
        <div class="btn">Post A Job</div>
    </div>
    <div class="advertisement">
        <img src="http://placehold.it/500x500" />
        <p class="blurb">
            CSS-Tricks uses and recommends Media Temple web hosting. Their 
            exceptional service and support keep this site fast. USe Coupon code
            <span id="coupon_code">CSSTRICKS</span> to save 20% for the first year.
        </p>
        
        <div class="advertisement btn">Save 20% on web hosting</div>
    </div>
</div>


<!--<%= link_to "edit", edit_recipe_path(@recipe)%>-->
<!--<%= link_to "delete", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' }%>-->