<div class="recipe_show_wrapper">
  <div class="recipe_show_content">
    <div class="recipe_show_top_content">

      <div class="recipe_show_heading">
        <div class="recipe_show_title_name"><%= visibility_auth(current_user, @recipe.user_id) ? (editable @recipe, :name) : @recipe.name %></div>

        <p>Averate rating</p>
        <div id="star"></div>

        <% if current_user && current_user != @recipe.user%>
          <p>Your rating</p>
          <div id="user_star"></div>
        <% elsif !current_user %>
          Please <%= link_to "login", new_user_session_path %> or <%= link_to "create", new_user_registration_path %> an account to rate this recipe.
        <% end %>

        <div class="recipe_show_author_date">
          <span class="recipe_show_author_name"><%= link_to @recipe.user.user_name, user_path(@recipe.user.id) %></span>
          <span class="date_slashes"> // </span>
          <span class="recipe_show_publish_date"><%= @recipe.created_at.strftime("%B %e, %Y") %></span>
        </div>
      </div>

      <div class="recipe_show_image_wrapper">
        <%= image_tag @recipe.recipe_image.url, :id => 'myImg', alt: @recipe.name%>
        <div id="photoModal" class="modal">

          <img class="modal-content" id="img01">
          <div id="caption"></div>

        </div>
      </div>

      <div class="recipe_show_recipe_info">
        <ul>
          <% if current_user && (@recipe.user.user_name == current_user.user_name || current_user.admin) %>
            <li><%= button_to "edit", edit_recipe_path(@recipe), :method => :get%></li>
            <li><%= button_to "delete", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>

          <li><span class="recipe_show_title">Servings:</span><br><%= visibility_auth(current_user, @recipe.user_id) ? (editable @recipe, :servings) : @recipe.servings %></li><br><br>

          <li><span class="recipe_show_title">Ingredients:</span><br>
            <% @ingredients.each do |ingredient| %>
              <ul>
                <li>Category: <%= visibility_auth(current_user, @recipe.user_id) ? (editable ingredient, :category) : ingredient.category %></li>
                <br>
                <li>Name: <%= visibility_auth(current_user, @recipe.user_id) ? (editable ingredient, :name) : ingredient.name %></li>
                <br>
                <li>Quantity: <%= visibility_auth(current_user, @recipe.user_id) ? (editable ingredient, :quantity) : ingredient.quantity %></li>
                <br>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="recipe_show_instructions">
        <span class="recipe_show_title">Instructions: <%= visibility_auth(current_user, @recipe.user_id) ? (editable @recipe, :instructions) : @recipe.instructions %></div>
      </div>
    </div>

    <div class="recipe_show_bottom_content">
      <h2>Comments</h2>
      <%= render @recipe.comments %>

      <%= render 'comments/form' %>
    </div>

    <script>
    //Ability to quick edit using jquery and ajax
    $.fn.editable.defaults.mode = 'inline'
    $(document).ready(function() {
      $('.editable').editable({
        showbuttons:false,
        onblur: "submit",
        ajaxOptions: {
          type: "PUT",
          dataType: "json"
        },
        //Makes text in input highlighted
      }).on('shown', function(ev, editable) {
          setTimeout(function() {
              editable.input.$input.select();
          },0);
      });
    })
    $('[title]').attr('title','Click to edit');
    $("body").tooltip({
        selector: '[title]',
        placement: 'right'
    }, "option", "content", "Show Post - test");


    // close modal if clicked or touch event is triggered outside of photo
      var modal = document.getElementById('photoModal');
      var flag = false;

      $('#photoModal').bind('touchstart click', function(event){
        if (!flag) {
          flag = true;
          setTimeout(function(){ flag = false; }, 100);
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        return false
      });

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementById('myImg');
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");
      img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      }
        $('#star').raty({
          readOnly: true,
          score: <%= @recipe.average_rating %>,
          path: '/assets'
        });
        <% if current_user %>
          $('#user_star').raty({
            score: <%= @rating.score %>,
            path: '/assets',
            click: function(score, evt) {
              $.ajax({
                url: '/ratings/' + <%= @rating.id %>,
                type: 'PATCH',
                data: { score: score }
              });
            }
          });
        <% end %>
    </script>

</div>
