<div class="recipe_show_wrapper">
  <div class="recipe_show_content">
    <div class="recipe_show_top_content">

      <div class="recipe_show_heading">
        <div class="recipe_show_title_name"><%= @recipe.name %></div>

        <p>Averate rating</p>
        <div id="star"></div>

        <p>Your rating</p>

        <% if current_user %>
          <div id="user_star"></div>
        <% else %>
          Please <%= link_to "login", new_user_session_path %> or <%= link_to "create", new_user_registration_path %> an account to rate this recipe.
        <% end %>

        <div class="recipe_show_author_date">
          <span class="recipe_show_author_name"><%= @recipe.user.user_name %></span>
          <span class="date_slashes"> // </span>
          <span class="recipe_show_publish_date"><%= @recipe.created_at.strftime("%B %e, %Y") %></span>
        </div>
      </div>

      <div class="recipe_show_image_wrapper">
        <%= image_tag @recipe.recipe_image.url, :id => 'myImg', alt: @recipe.name%>
        <div id="photoModal" class="modal">

          <img class="modal-content" id="img01">
          <div id="caption"></div>

        </div>
      </div>

      <div class="recipe_show_recipe_info">
        <ul>
          <% if current_user && (@recipe.user.user_name == current_user.user_name || current_user.admin) %>
            <li><%= button_to "edit", edit_recipe_path(@recipe), :method => :get%></li>
            <li><%= button_to "delete", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
          <li><span class="recipe_show_title">Servings:</span><br><%= @recipe.servings %></li><br><br>
          <li><span class="recipe_show_title">Ingredients:</span><br><%= simple_format @recipe.ingredients %></li>
        </ul>
      </div>
      <div class="recipe_show_instructions">
        <span class="recipe_show_title">Instructions:</span><%= simple_format @recipe.instructions %></div>
      </div>
    </div>

    <div class="recipe_show_bottom_content">
      <h3>Comments</h3>

      <%= form_for [@recipe, Comment.new] do |f| %>
      <%= f.text_field :body, placeholder: "Add a comment" %><br/>
      <%= f.submit "Add Comment" %>
      <% end %>

      <ul>
        <%= render(partial: 'comments/comment', collection: @recipe.comments) %>
      </ul>

    </div>



    <script>
    // close modal if clicked or touch event is triggered outside of photo
      var modal = document.getElementById('photoModal');
      var flag = false;

      $('#photoModal').bind('touchstart click', function(event){
        if (!flag) {
          flag = true;
          setTimeout(function(){ flag = false; }, 100);
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        return false
      });

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementById('myImg');
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");
      img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      }

        $('#star').raty({
          readOnly: true,
          score: <%= @recipe.average_rating %>,
          path: '/assets'
        });
        <% if current_user %>
          $('#user_star').raty({
            score: <%= @rating.score %>,
            path: '/assets',
            click: function(score, evt) {
              $.ajax({
                url: '/ratings/' + <%= @rating.id %>,
                type: 'PATCH',
                data: { score: score }
              });
            }
          });
        <% end %>
    </script>
</div>
