<div class="recipe_show_wrapper">
  <div class="recipe_show_content">
    <div class="recipe_show_heading">
      <div class="recipe_show_image_wrapper">
        <%= image_tag @recipe.recipe_image.url, :id => 'myImg', alt: @recipe.name%>
        <div id="photoModal" class="modal">
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
      </div>

        <div class="recipe_show_title_name"><%= visibility_auth(current_user, @recipe.user_id) ? (editable @recipe, :name) : @recipe.name %></div>

        <div class="recipe_show_author_date">
          <span class="recipe_show_author_name"><%= link_to @recipe.user.user_name, user_path(@recipe.user.id) %></span>
          <span class="date_slashes"> // </span>
          <span class="recipe_show_publish_date"><%= @recipe.created_at.strftime("%B %e, %Y") %></span>
        </div>

        <div class='recipe_rating'>
          <p>Averate rating</p>
          <div id="star"></div>
          <% if current_user && current_user != @recipe.user%>
            <p>Your rating</p>
            <div id="user_star"></div>
          <% elsif !current_user %>
            Please <%= link_to "login", new_user_session_path %> or <%= link_to "create", new_user_registration_path %> an account to rate this recipe.
          <% end %>
        </div>
      </div>

      <div class="bottom_container">
        <div class="align_left">
          <ul class="recipe_details">
            <li class="recipe_description">
              <span class="recipe_show_title">Description: </span><%= visibility_auth(current_user, @recipe.user_id) ? (editable @recipe, :description) : @recipe.description %>
            </li>
            <br>
            <li class="recipe_instructions">
              <span class="recipe_show_title">Instructions: </span><%= visibility_auth(current_user, @recipe.user_id) ? (editable @recipe, :instructions) : @recipe.instructions %>
            </li>
            <br>
            <li class="recipe_servings">
              <span class="recipe_show_title">Servings:</span><%= visibility_auth(current_user, @recipe.user_id) ? (editable @recipe, :servings) : @recipe.servings %>
            </li>
            <br>
            
            <li class='ingredient_container'><span class="recipe_show_title">Ingredients:</span><br>
              <% @ingredients.each_with_index do |ingredient, index| %>
                <div class= <%= index > 1 ? "hide_add_ingredients" : "" %> >
                  <ul>
                    <li>Category: <%= visibility_auth(current_user, @recipe.user_id) ? (editable ingredient, :category) : ingredient.category %></li>
                    <br>
                    <li>Name: <%= visibility_auth(current_user, @recipe.user_id) ? (editable ingredient, :name) : ingredient.name %></li>
                    <br>
                    <li>Quantity: <%= visibility_auth(current_user, @recipe.user_id) ? (editable ingredient, :quantity) : ingredient.quantity %></li>
                    <br>
                  </ul>
                </div>
              <% end %>
              <% if @ingredients.length > 2 %>
              <a id="ingredReplaceOnClick" onclick="showIngredients()">Show more ingredients</a>
              <% end %>
            </li>
          <ul>

          <% if current_user && (@recipe.user.user_name == current_user.user_name || current_user.admin) %>
            <li><%= button_to "edit", edit_recipe_path(@recipe), :method => :get%></li>
            <li><%= button_to "delete", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </div>

        <div class="align_right">
          <div class="recipe_comments_container">
            <div class="recipe_comments">
              <%= render 'comments/form' %>
              <%= render @recipes_sort.comments %>
              <% if @recipes_sort.comments.length > 2 %>
                <a id="commentReplaceOnClick" onclick="showComments()">Show more comments</a>
              <% end %>
            </div>
          </div>
        </div>
        <div class='clear'>
        </div>
      </div>

      <script>
      //Ability to quick edit using jquery and ajax
      $.fn.editable.defaults.mode = 'inline'
      $(document).ready(function() {
        $('.editable').editable({
          showbuttons:false,
          onblur: "submit",
          ajaxOptions: {
            type: "PUT",
            dataType: "json"
          },
          //Makes text in input highlighted
        }).on('shown', function(ev, editable) {
            setTimeout(function() {
                editable.input.$input.select();
            },0);
        });
      })
      $('[title]').attr('title','click to edit');
      $("body").tooltip({
          selector: '.editable',
          placement: 'right'
      }, "option", "content", "Show Post - test");


      // close modal if clicked or touch event is triggered outside of photo
        var modal = document.getElementById('photoModal');
        var flag = false;

        $('#photoModal').bind('touchstart click', function(event){
          if (!flag) {
            flag = true;
            setTimeout(function(){ flag = false; }, 100);
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
          return false
        });

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
        }
        $('#star').raty({
          readOnly: true,
          score: <%= @recipe.avg_rating ? @recipe.avg_rating : 0 %>,
          path: '/assets'
        });
        <% if current_user %>
          $('#user_star').raty({
            score: <%= @rating.score %>,
            path: '/assets',
            click: function(score, evt) {
              $.ajax({
                url: '/ratings/' + <%= @rating.id %>,
                type: 'PATCH',
                data: { score: score }
              });
            }
          });
        <% end %>
        function showIngredients() {
          linkElement = document.getElementById("ingredReplaceOnClick")
          linkElement.innerHTML != "Hide ingredients" ? linkElement.innerHTML = "Hide ingredients" : linkElement.innerHTML = "Show more ingredients"
          $( ".hide_add_ingredients" ).toggle();
        }
        function showComments() {
          linkElement = document.getElementById("commentReplaceOnClick")
          linkElement.innerHTML != "Hide comments" ? linkElement.innerHTML = "Hide comments" : linkElement.innerHTML = "Show more comments"
          $( ".hide_add_comments" ).toggle();
        }
    </script>
    <style>
      .tooltip{
        font-size:9pt;
        font-family: 'Alegreya Sans SC', sans-serif;
      }
    </style>
  </div>
</div>
