<h1><%= current_user == @user ? "My Profile Page" : (@user.user_name + '\'s Profile Page') %></h1>

<ul>
  <li> User Name: <%= @user.user_name %></li><br>
  <li> User email: <%= @user.email %></li><br>
  <li></li><br>
  <li><%= image_tag @user.avatar, width: "128" %></li><br>
</ul>


<h3>List of submitted recipes</h3>

<table>
    <thead>
      <tr>
        <th>Recipe image</th>
        <th>Name</th>
        <th>Average Rating</th>
        <th>Recipe Created</th>
      </tr>
    </thead>

    <tbody>
      <% @user.recipes.each do |recipe| %>
        <tr>
          <%= link_to recipe_path(recipe.id) do %>
            <td><%= image_tag recipe.recipe_image.url, width: "64" %></td>
            <td><%= recipe.name %></td>
            <td><%= recipe.avg_rating %></td>
            <td><small>Published <%= time_ago_in_words(recipe.created_at) %> ago</small></td>
          <% end %>
        </tr>
        <% end %>
    </tbody>
</table>

<section class="stats">
  <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if current_user %>
