<h1><%= @user.user_name %>'s Profile Page</h1>
<h3>User Information</h3>

<ul>
  <li> User email: <%= @user.email %></li>
  <li><%= image_tag @user.avatar %></li>
  <li> Number of submitted recipes <%= @user.recipes.length %></li>
</ul>
<h3>Recipe Names</h3>
<ul>
  <% @user.recipes.each do |recipe| %>
    <li><%= recipe.name %></li>
  <% end %>
</ul>
<section class="stats">
  <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if current_user %>
