<div class='user_container'>
  <div class='user_contents'>
    <h1><%= current_user == @user ? "My Profile Page" : (@user.user_name + '\'s Profile Page') %></h1>

    <ul>
      <li><%= image_tag @user.avatar, width: "350" %></li><br>
      <li><span>User description: </span><%= @user.description %></li><br>
      <section class="stats"><%= render 'shared/stats' %></section>
      <%= render 'follow_form' if current_user %>
    </ul>

    <h3>List of submitted recipes</h3>

    <div class="user_page_recipe_container">
      <h3><%= @user.recipes.length == 0 ? "No recipes have been submitted" :  "" %></h3>
      <% @user.recipes.each do |recipe| %>
        <ul class="user_page_recipe_thumb well">
          <%= link_to recipe_path(recipe.id) do %>
            <li><%= image_tag recipe.recipe_image.url, height: "128" %></li>
            <br>
            <li><%= recipe.name %></li>
            <br>
          <% end %>
          <li><%= recipe.avg_rating ? recipe.avg_rating : "No ratings yet"%></li>
          <br>
          <li><small>Published <%= time_ago_in_words(recipe.created_at) %> ago</small></li>
          <br>
        </ul>
      <% end %>
    </div>
  </div>
</div>
