<div class="footer_wrapper">
    <div class="footer_content">
        <ul>
            <li><a id="social_show_hide"> <%= image_tag 'foot_social_image.png', size: "125x25" %> </li></a>
                <ul class="social_images" >
                    <script>
                        $( "#social_show_hide" ).click(function() {
                          $( ".social_images" ).toggle( "slow" );
                        });
                    </script>
                    <li><a href="https://www.facebook.com/SangriaNYCRecipes"><%= image_tag 'icons/fb.png', size: "40x40" %></li></a>
                    <li><a href="https://twitter.com/search?f=tweets&q=%23sangrianyc&src=typd"><%= image_tag 'icons/twitter.png', size: "40x40" %></li></a>
                </ul>
            <li><a id="contact_show_hide"><%= image_tag 'foot_contact_image.png', size: "125x25" %></li></a>
                <ul class="contact_images">
                    <script>
                        $( "#contact_show_hide" ).click(function() {
                          $( ".contact_images" ).toggle( "slow" );
                        });
                    </script>
                    
                    <li><a href="mailto:gtesto@testophotography.com?Subject=SangriaNYC%20" target="_top"><%= image_tag 'icons/mail.png', size: "40x40" %></li></a>
</p>
                    
                </ul>
            <li class="copyright"> <%= image_tag 'foot_copyright_image.png', size: "250x50" %>
            </li>
        </ul>
    </div>
</div>